yay -S python-gitpython python-matplotlib python-numpy python-opencv python-pillow python-psutil python-yaml python-requests python-scipy python-thop python-torchvision python-pytorch python-tqdm python-ultralytics
